<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
        <link rel="stylesheet" th:href="@{/css/registerForm.css}"/>
</head>
<body>

<div layout:fragment="content">
    <div class="register-form page">
        <div class="row">
            <div class="section">
                <div class="form-header">
                    <h3 th:text="#{login.titleH3}"></h3>
                </div>
                <div class="form-main">
                    <form action="#" th:action="@{/login}" th:object="${loginForm}" method="post">
                        <span class="text-center" th:if="${message}" th:text="${message}"/>
                        <div class="form-item box-item">
                            <input type="text" name="username" class="tx1" th:field="*{username}"
                                   th:placeholder="#{register.username}">
                            <span class="error-message" th:if="${#fields.hasErrors('username')}"
                                  th:errors="*{username}"/>
                        </div>

                        <div class="form-item box-item tooltip">
                            <input type="password" name="password" class="tx1" th:field="*{password}"
                                   th:placeholder="#{register.password}">
                            <span class="tooltiptext" th:text="#{register.password.tooltip}"></span>
                            <span class="error-message" th:if="${#fields.hasErrors('password')}"
                                  th:errors="*{password}"/>
                        </div>
                        <span class="text-center error-message" th:if="${error}!=null" th:text="${error}"/>

                        <div class="form-item submit-button">
                            <input type="submit" class="button" th:value="#{login.submit}"/>
                            <input type="reset" class="button" th:value="#{register.reset}"/>
                            <input type="button" class="button" th:value="#{login.recoverPassword}"
                                   onclick="location.href='/passwordRecover'"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>