<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cytatuję</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" th:href="@{/css/registerForm.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="main-content">

    <div th:unless="${isSended}" class="register-form page">

        <div class="row">
            <div class="section">
                <div class="form-header">
                    <h3>Odzyskiwanie hasła</h3>
                </div>
                <div class="form-main">
                    <form action="#" th:action="@{/passwordRecover}" th:object="${passwordRecoverForm}" method="post">
                        <div class="form-item box-item">
                            <input type="text" name="email" class="tx1" th:field="*{email}"
                                   placeholder="Email">
                            <span class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
                        </div>

                        <div class="form-item submit-button">
                            <input type="submit" class="button" value="Odzyskaj"/>
                            <input type="reset" class="button" value="Wyczyść"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div th:if="${isSended}" class="page message">
        <h3>Sprawdź email, link z instrukcją za chwilę zostanie wysłany!</h3>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>