<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
        <link rel="stylesheet" th:href="@{/css/registerForm.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div th:unless="${isSended}" class="register-form page">

        <div class="row">
            <div class="section">
                <div class="form-header">
                    <h3 th:text="#{passwordRecover.titleH3}"></h3>
                </div>
                <div class="form-main">
                    <form action="#" th:action="@{/passwordRecover}" th:object="${passwordRecoverForm}" method="post">
                        <div class="form-item box-item">
                            <input type="text" name="email" class="tx1" th:field="*{email}"
                                   th:placeholder="#{register.email}">
                            <span class="error-message" th:if="${#fields.hasErrors('email')}" th:text="#{${#fields.errors('email')[0]}}"/>
                        </div>

                        <div class="form-item submit-button">
                            <input type="submit" class="button" th:value="#{passwordRecover.submit}"/>
                            <input type="reset" class="button" th:value="#{register.reset}"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div th:if="${isSended}" class="page message">
        <h3 th:text="#{passwordRecover.isSendedMessage}"></h3>
    </div>
</div>
</body>
</html>