<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cytatuję</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" th:href="@{/css/registerForm.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="main-content">

    <div class="register-form page">

        <div class="row">
            <div class="section">
                <div class="form-header">
                    <h3>Twoje dane</h3>
                </div>
                <span class="text-center" th:if="${message}" th:text="${message}"></span>
                <div class="form-main">
                    <form action="#" th:action="@{/user/editProfile}" th:object="${editProfileForm}" method="post">
                        <div class="form-item box-item">
                            <input type="text" th:name="username" class="tx1" th:value="*{username}"
                                   placeholder="Nazwa użytkownika">
                            <span class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>
                        </div>
                        <div class="form-item box-item tooltip">
                            <input type="email" th:name="email" class="tx1" th:field="*{email}" placeholder="Email">
                            <span class="tooltiptext">Poprawny format to np. user@domain.com</span>
                            <span class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
                        </div>
                        <div class="form-item box-item tooltip">
                            <input type="text" th:name="phone" th:field="*{phone}" placeholder="Numer telefonu">
                            <span class="tooltiptext">Wprowadź bez znaków specjalnych, i bez numeru kierunkowego, np 123456789</span>
                            <span class="error-message" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"/>
                        </div>
                        <div class="form-item box-item">
                            <div class="form-item-triple">
                                <div class="radio-label">
                                    <label class="label">Płeć</label>
                                </div>
                                <div th:each="element : ${genderList}">
                                    <div class="form-item">
                                        <input type="radio" th:field="*{gender}" th:value="${element}"/>
                                        <label th:for="${#ids.prev('gender')}" th:text="${element}"></label>
                                    </div>
                                </div>
                            </div>
                            <span class="error-message" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
                        </div>

                        <div class="form-item" style="margin-bottom: 16px">
                            <label class="label">Kraj</label>
                            <select th:name="country">
                                <option th:each="element : ${countryList}"
                                        th:value="${element}"
                                        th:text="${element}"
                                        th:selected="${editProfileForm.country.equals(element)}"/>
                            </select>
                            <span class="error-message" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"/>
                        </div>

                        <div class="form-item box-item">
                            <input type="text" th:name="city" th:value="*{city}" placeholder="Miejscowość">
                            <span class="error-message" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"/>
                        </div>

                        <div class="form-item box-item tooltip">
                            <input type="text" th:name="postalCode" th:value="*{postalCode}" placeholder="Kod pocztowy">
                            <span class="tooltiptext">Format: NN-NNN / NNNNN / NNNN / NNN / NNNN AA, N - cyfra, A - litera</span>
                            <span class="error-message" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"/>
                        </div>

                        <div class="form-item box-item">
                            <input type="text" th:name="street" th:value="*{street}" placeholder="Ulica">
                            <span class="error-message" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"/>
                        </div>

                        <div class="form-item box-item">
                            <input type="number" th:name="streetNo" th:value="*{streetNo}" placeholder="Numer domu">
                            <span class="error-message" th:if="${#fields.hasErrors('streetNo')}" th:errors="*{streetNo}"/>
                        </div>

                        <div class="form-item box-item">
                            <input type="number" th:name="streetNo2" th:value="*{streetNo2}" placeholder="Numer mieszkania">
                            <span class="error-message" th:if="${#fields.hasErrors('streetNo2')}" th:errors="*{streetNo2}"/>
                        </div>

                        <div class="form-item submit-button">
                            <input type="submit" class="button" value="Aktualizuj"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="button" href="/user/editPassword">Zmien haslo</a>
        </div>

    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>