<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cytatuję</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" th:href="@{/css/registerForm.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="main-content">

    <div class="register-form page">

        <div class="row">

            <div class="section">
                <div class="form-header">
                    <h3 th:text="#{user.titleH3}"></h3>
                </div>
                <span class="text-center" th:if="${message}" th:text="#{${message}}"></span>
                <div class="form-main">
                    <form action="#" th:action="@{/user/editPassword}" th:object="${passwordForm}" method="post">
                        <div class="form-item box-item tooltip">
                            <input type="password" name="password" class="tx1" id="password"
                                   th:placeholder="#{user.profile.newPassword}">
                            <span class="error-message" th:if="${#fields.hasErrors('password')}" th:text="#{${#fields.errors('password')[0]}}"/>
                            <span class="tooltiptext" th:text="#{register.password.tooltip}"></span>
                        </div>

                        <div class="form-item box-item tooltip">
                            <input type="password" name="password2" class="tx1" th:field="*{password2}"
                                   th:placeholder="#{register.password2}">
                            <span class="tooltiptext" th:text="#{register.password.tooltip}"></span>
                            <span class="error-message" th:if="${#fields.hasErrors('password2')}" th:text="#{${#fields.errors('password2')[0]}}"/>
                            <span class="error-message" th:if="${#fields.hasErrors('${passwordForm}')}" th:text="#{${#fields.errors('global')[0]}}"/>
                        </div>

                        <div class="form-item submit-button">
                            <input type="submit" class="button" th:value="#{user.submit}"/>
                            <input type="reset" class="button" th:value="#{register.reset}"/>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>