<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<nav th:fragment="header">
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <a href="/">Cytatuję</a>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <a sec:authorize="!isAuthenticated()" href="/login">Zaloguj się</a>
            <a sec:authorize="isAuthenticated()" onclick="document.getElementById('logoutForm').submit();">Wyloguj
                się</a>
            <a sec:authorize="!isAuthenticated()" href="/register">Zarejestruj się</a>
            <a href="/contact">Kontakt</a>
            <a href="/quotesList">Cytaty</a>
            <a href="/memoryGame">Gra memory</a>
            <a href="/downloadSource">Pobierz kod</a>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()">
        <button style="font-size:24px">
            <span sec:authentication="name"></span>
            <i class="fa fa-edit"></i></button>
    </div>
    <form id="logoutForm" action="#" th:action="@{/logout}" method="post"></form>
</nav>

</body>
</html>