<!DOCTYPE HTML>
<html>
<head>
    <title>Cytatuję</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="layout.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="error.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <a href="/">Cytatuję</a>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
        <a href="/registerForm">Formularz rejestracyjny</a>
        <a href="/contact" >Kontakt</a>
        <a href="/quotesList" >Cytaty</a>
        <a href="/memoryGame" >Gra memory</a>
    </div>
</div>

<div class="main-content">

    <div class="error page">
        <h3>Zabłądziłeś, może wróć na główną stronę?</h3>
    </div>

</div>

<footer>
    <ul class="icons">
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
    </ul>
    <div class="copyright">
        &copy; Cytatuję 2020
    </div>
</footer>

</body>
</html>