<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cytatuję</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{css/layout.css}"/>
    <link rel="stylesheet" th:href="@{css/memoryGame.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="main-content">

    <div class="memory-board page">

        <div class="memory-game">
            <div class="memory-card" data-value="1">
                <img class="card-front" src="images/memory-game/1.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>
            <div class="memory-card" data-value="1">
                <img class="card-front" src="images/memory-game/1.svg" alt="1"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>

            <div class="memory-card" data-value="2">
                <img class="card-front" src="images/memory-game/2.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>
            <div class="memory-card" data-value="2">
                <img class="card-front" src="images/memory-game/2.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>

            <div class="memory-card" data-value="3">
                <img class="card-front" src="images/memory-game/3.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>
            <div class="memory-card" data-value="3">
                <img class="card-front" src="images/memory-game/3.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>

            <div class="memory-card" data-value="4">
                <img class="card-front" src="images/memory-game/4.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>
            <div class="memory-card" data-value="4">
                <img class="card-front" src="images/memory-game/4.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>

            <div class="memory-card" data-value="5">
                <img class="card-front" src="images/memory-game/5.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>
            <div class="memory-card" data-value="5">
                <img class="card-front" src="images/memory-game/5.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>

            <div class="memory-card" data-value="6">
                <img class="card-front" src="images/memory-game/6.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>
            <div class="memory-card" data-value="6">
                <img class="card-front" src="images/memory-game/6.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="javascripts/memory.js"></script>
</body>
</html>