<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
        <link rel="stylesheet" th:href="@{css/memoryGame.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="memory-board page">

        <div class="memory-game">
            <div class="memory-card" data-value="1">
                <img class="card-front" src="images/memory-game/1.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>
            <div class="memory-card" data-value="1">
                <img class="card-front" src="images/memory-game/1.svg" alt="1"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>

            <div class="memory-card" data-value="2">
                <img class="card-front" src="images/memory-game/2.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>
            <div class="memory-card" data-value="2">
                <img class="card-front" src="images/memory-game/2.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>

            <div class="memory-card" data-value="3">
                <img class="card-front" src="images/memory-game/3.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>
            <div class="memory-card" data-value="3">
                <img class="card-front" src="images/memory-game/3.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>

            <div class="memory-card" data-value="4">
                <img class="card-front" src="images/memory-game/4.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>
            <div class="memory-card" data-value="4">
                <img class="card-front" src="images/memory-game/4.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>

            <div class="memory-card" data-value="5">
                <img class="card-front" src="images/memory-game/5.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>
            <div class="memory-card" data-value="5">
                <img class="card-front" src="images/memory-game/5.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>

            <div class="memory-card" data-value="6">
                <img class="card-front" src="images/memory-game/6.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>
            <div class="memory-card" data-value="6">
                <img class="card-front" src="images/memory-game/6.svg" alt="card-front"/>
                <img class="card-back" src="images/memory-game/back.svg" alt="card-back"/>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/javascripts/memory.js}"></script>
</th:block>
</body>
</html>