<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cytatuję</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/layout.css}"/>
    <link rel="stylesheet" th:href="@{/quotesList.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="main-content">

    <div class="all-quotes page">
        <ul class="quotes-list">
            <li data-index="{{id}}" th:each="quote : ${quotes}">
                <h2 th:text="${quote.content}"></h2>
                <ul class="quote-description">
                    <li th:text="${quote.author}"></li>
                    <li th:text="${quote.source}"></li>
                </ul>
                <button>O autorze</button>
                <div class="highlight"></div>
            </li>
        </ul>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>