<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cytatuję</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{layout.css}"/>
    <link rel="stylesheet" th:href="@{registerForm.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="main-content">

    <div class="registered page">
        <h3>Gratulacje, poprawnie się zarejestrowano!</h3>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>